* {
    box-sizing: border-box;
}

@media only screen and (min-width: 601px) {
    .container{
        display: flex;
         
    } 
    
    .row {
        display: flex;
        flex-direction: column;
        flex-grow:2
    }
        
}
@media only screen and (min-width: 992px) {
    .container{
        display: flex;
        
    }
    .row {
        display: flex;
        flex-direction: row;
        
    }
}